.intro-textfs{
    font-size:45px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(25, 25, 23);
    padding-left:5px;
    width:100%;
}
.titlefs{
    font-size:75px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(25, 25, 23);
    padding-top:5px;
}