.mainback{
    min-height: 93vh;
    display:flex;
    padding:10px 0;
}
.page{
    width:100%;
}
.hedaing{
    font-size:60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:5px to 10px;
}