
.loginContainer{
    display:flex;
    flex-direction:column;
    margin:20px;
}
.title{
    font-size: 65px;
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding:0;
}
.link{
    color: red;
}