.main{
    min-height:100vh;
    display: flex;
    color:rgb(25, 25, 23);
    align-items: center;
}
.buttonContainer{
    margin-top:75px;
    display:flex;
    justify-content: space-evenly;
    align-items: right;
}
.landingbutton{
    width:200px;
    height:55px;
    align-items: right;
}
.titlelp{
    font-size:75px;
    font-family: 'Times New Roman', Times, serif;
    padding-top:5px;
    align-items: center;
}
.intro-textlp{
    font-size:45px;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(25, 25, 23);
    width:100%;
    text-align:center;
}
@media only screen and (min-width:1200px){
    .buttonContainer{
        padding:0 200px;
        align-items: right;
    }
    .title{
        padding:0 100px;
    }
    .intro-text{
        padding:0 100px;
    }
}